@font-face {font-family: 'Sh1px'; src: url(../assets/Sh1px.ttf)}
@font-face {font-family: 'FeatureMonoB'; src: url(../assets/FeatureMono-Bold.ttf)}



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {background: linear-gradient(135deg, rgb(128, 0, 0), rgb(0, 17, 17)) fixed}
.ContentDivider {height: max(5px, 10vh)}



#WTF404 {
    font-size: max(32px, 5vh);
	user-select: none;
	font-family: Sh1px;
    color: rgb(255, 128, 128);
    text-align: center;
}
#WTFCat {
    display: block;
    margin: auto;
    height: 20%;
}
#WTFSplash {
    color: whitesmoke;
    user-select: none;
    font-family: FeatureMonoB;
    text-align: center;
    font-size: max(16px, 2.5vh);
}