@font-face {font-family: 'Sh1px'; src: url(../assets/Sh1px.ttf)}
@font-face {font-family: 'FeatureMono'; src: url(../assets/FeatureMono.ttf)}



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {background: linear-gradient(135deg, rgba(0, 128, 128, 1), rgb(0, 17, 17)) fixed}
.ContentDivider {height: max(5px, 10vh)}



#WelcomeSplash {
	font-size: max(32px, 5vh);
	user-select: none;
	font-family: Sh1px;
	color: whitesmoke;
	text-align: center;
}
#Sh1zok {
	color: aqua;
	text-shadow: 0 0 15px;
}

#MainInfoBlock {
	margin-right: 15vw;
	margin-left: 15vw;
}
#AboutMe {
	font-family: FeatureMono;
	font-size: max(15px, 2.5vh);
	color: #00DDDD;
}

#SocialsBlock {
	margin-right: 15vw;
	margin-left: 15vw;
}
.SocialLogo {
	width: max(50px, 4.5vw);
	height: auto;
	display: inline;
	margin-right: 5vh;
}



@media (max-width: 1100px) {
	#MainInfoBlock {
		margin-right: 5vw;
		margin-left: 5vw;
	}

	#SocialsBlock {
		margin-right: 7.5vw;
		margin-left: 7.5vw;
		display: grid;
		grid-auto-flow: column;
	}
	.SocialElement {
		text-align: center;
	}
	.SocialLogo {
		width: max(50px, 6vh);
		height: auto;
		display: auto;
		margin-right: 0px;
	}
}
