@font-face {font-family: 'Sh1px'; src: url(../assets/Sh1px.ttf)}
@font-face {font-family: 'FeatureMonoR'; src: url(../assets/FeatureMono-Regular.ttf)}
@font-face {font-family: 'FeatureMonoB'; src: url(../assets/FeatureMono-Bold.ttf)}



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {background: linear-gradient(135deg, rgba(0, 128, 128, 1), rgb(0, 17, 17)) fixed no-repeat}
.ContentDivider {height: max(5px, 10vh)}
.SocialLogo {
	width: max(15px, 6vh);
	height: auto;
	display: inline;
	margin-right: 5vh;
}




#MainInfoBlock {
	margin-right: max(15px, 15vw);
	margin-left: max(15px, 15vw);
}
#AboutMe {
	font-family: FeatureMonoB;
	font-size: max(15px, 2.5vh);
	color: #00DDDD;
}
#WelcomeSplash {
	font-size: max(32px, 5vh);
	user-select: none;
	font-family: Sh1px;
	color: whitesmoke;
	text-align: center;
}
#Sh1zok {
	color: aqua;
	text-shadow: 0 0 15px;
}
#SocialsBlock {
	margin-right: max(15px, 15vw);
	margin-left: max(15px, 15vw);
}
